# Track Mate
#
# Author: Jean-Yves Tinevez & friends

Plugins>Tracking, "TrackMate", fiji.plugin.trackmate.TrackMatePlugIn_
Plugins>Tracking, "Load a TrackMate file", fiji.plugin.trackmate.LoadTrackMatePlugIn_
Plugins>Tracking, "Manual tracking with TrackMate", fiji.plugin.trackmate.ManualTrackingPlugIn_

File>Open Samples, "Tracks for TrackMate (807K)", ij.plugin.URLOpener("http://fiji.sc/samples/FakeTracks.tif")
