# This package contains only links to samples, no plugins

File>Open Samples, "Malaria Sporozoites (9.2MB)", ij.plugin.URLOpener("http://pacific.mpi-cbg.de/samples/_malaria_parasites.tif")
File>Open Samples, "First-instar brain (6.3MB)", ij.plugin.URLOpener("http://pacific.mpi-cbg.de/samples/first-instar-brain.zip")
