# Name: Clojure_Interpreter

# Run clojure code dynamically from a prompt.

# Author: Albert Cardona
# Date: 20080424 11:59 +0100
# Requires: ImageJ 1.39p

Plugins>Scripting, "Clojure Interpreter", Clojure.Clojure_Interpreter
Plugins>Scripting, "Refresh Clojure Scripts", Clojure.Refresh_Clojure_Scripts
