# Author: Stephan Saalfeld
File>Save As, "DF3 ...", io.Save_DF3
File>Import, "DF3...", io.Open_DF3

# Author: Stephan Preibisch
File>Import, "FIB-SEM ...", io.FIBSEM_Reader

# by Albert Cardona:
File>Import, "MRC Leginon ...", io.Open_MRC_Leginon
File>Import, "PDF ...", io.PDF_Viewer
File>Import, "Extract Images From PDF...", io.Extract_Images_From_PDF
File>Import, "DAT EMMENU ...", io.Open_DAT_EMMENU

# by Greg Jefferis
File>Import, "DM3 Reader...", io.DM3_Reader
File>Import, "TorstenRaw GZ Reader...", io.TorstenRaw_GZ_Reader
File>Import, "Nrrd ...", io.Nrrd_Reader
File>Save As, "Nrrd ... ", io.Nrrd_Writer

# by Johannes Schindelin
File>Import, "ICO...", io.ICO_Reader
File>Save As, "ICO ...", io.ICO_Writer
File>Import, "Icns...", io.Icns_Reader
File>Save As, "Icns ...", io.Icns_Writer
File>Import, "SVG...", io.SVG_Reader
File>Save As, "XPM ...", io.XPM_Writer
File>Import, "LSS16...", io.LSS16_Reader
File>Save As, "LSS16 ...", io.LSS16_Writer

# others:
File>Import, "IPLab Reader...", io.IPLab_Reader
File>Save As, "PDF ... ", io.PDF_Writer
File>Import, "Animated Gif...", io.Animated_Gif_Reader
File>Save As, "Animated Gif ... ", io.Gif_Stack_Writer
File>Save As, "EPS ...", io.Export_EPS
