# Name: Javascript_Interpreter

# Run Javascript code dynamically from a prompt.

# Author: Albert Cardona
# Date: 20080516
# Requires: ImageJ 1.40a

Plugins>Scripting, "Javascript Interpreter", Javascript.Javascript_Interpreter
Plugins>Scripting, "Refresh Javascript Scripts", Javascript.Refresh_Javascript_Scripts
