# Name: Extended Depth of Field (2007)

# Description:

# This plugin provides an extended depth of field algorithm to obtain
# in focus microscopic images of 3D objects and organisms using different algorithms :
# Sobel, variance, real and complex wavelets.

# Author: Alex Prudencio
# Based on code by: Daniel Sage, Kai Uwe Barthel, Niels Quak, Jesse Berent
# Organization: Biomedical Imaging Group, Swiss Federal Institute of Technology Lausanne, Switzerland
# Contact: daniel.sage@epfl.ch
# Reference: http://bigwww.epfl.ch/demo/edf/index.html

# Date: 14 june 2007

# Generate the jar file using:
# 	jar cvf Extended_Depth_Field2007.jar *.class complexwavelets/*.class edf/*.class edfgui/*.class imageware/*.class splinewavelets/*.class surfacemap/*.class plugins.config

Plugins>Process, "Extended Depth of Field (Easy mode)...", EDF_Easy_
Plugins>Process, "Extended Depth of Field (Expert mode)...", EDF_Expert_
