[submodule "ImageJA"]
	path = modules/ImageJA
	url = ssh://mob@repo.or.cz/srv/git/imageja.git
[submodule "TrakEM2"]
	path = modules/TrakEM2
	url = ssh://mob@repo.or.cz/srv/git/trakem2.git
[submodule "java/linux"]
	path = java/linux
	url = ssh://contrib@fiji.sc/srv/git/java/linux.git
[submodule "java/linux-amd64"]
	path = java/linux-amd64
	url = ssh://contrib@fiji.sc/srv/git/java/linux-amd64.git
[submodule "java/macosx-java3d"]
	path = java/macosx-java3d
	url = ssh://contrib@fiji.sc/srv/git/java/macosx-java3d.git
[submodule "java/win32"]
	path = java/win32
	url = ssh://contrib@fiji.sc/srv/git/java/win32.git
[submodule "java/win64"]
	path = java/win64
	url = ssh://contrib@fiji.sc/srv/git/java/win64.git
[submodule "micromanager1.1"]
	path = modules/micromanager1.1
	url = ssh://contrib@fiji.sc/srv/git/micromanager1.1/.git
[submodule "mpicbg"]
	path = modules/mpicbg
	url = ssh://contrib@fiji.sc/srv/git/mpicbg.git
[submodule "clojure"]
	path = modules/clojure
	url = ssh://contrib@fiji.sc/srv/git/clojure/
[submodule "ij-plugins"]
	path = modules/ij-plugins
	url = ssh://contrib@fiji.sc/srv/git/ij-plugins
[submodule "Retrotranslator"]
	path = modules/Retrotranslator
	url = ssh://contrib@fiji.sc/srv/git/Retrotranslator
[submodule "tcljava"]
	path = modules/tcljava
	url = ssh://contrib@fiji.sc/srv/git/tcljava
[submodule "batik"]
	path = modules/batik
	url = ssh://contrib@fiji.sc/srv/git/batik/.git
[submodule "junit"]
	path = modules/junit
	url = ssh://contrib@fiji.sc/srv/git/junit
[submodule "RSyntaxTextArea"]
	path = modules/RSyntaxTextArea
	url = ssh://contrib@fiji.sc/srv/git/RSyntaxTextArea
[submodule "AutoComplete"]
	path = modules/AutoComplete
	url = ssh://contrib@fiji.sc/srv/git/AutoComplete
[submodule "weka"]
	path = modules/weka
	url = ssh://contrib@fiji.sc/srv/git/weka/
[submodule "jython"]
	path = modules/jython
	url = ssh://contrib@fiji.sc/srv/git/jython/.git
[submodule "imglib"]
	path = modules/imglib
	url = contrib@fiji.sc:/srv/git/imglib.git
[submodule "commons-math"]
	path = modules/commons-math
	url = contrib@fiji.sc:/srv/git/commons-math
[submodule "modules/javassist"]
	path = modules/javassist
	url = contrib@fiji.sc:/srv/git/javassist
[submodule "jsch"]
	path = modules/jsch
	url = contrib@fiji.sc:/srv/git/jsch
[submodule "modules/imagej2"]
	path = modules/imagej2
	url = git://code.imagej.net/imagej.git
[submodule "modules/imagej5d"]
	path = modules/image5d
	url = git://fiji.sc/image5d
