# Editors #
*.swp
*~

# Maven #
/target/
/bin/apache-maven-*/

# Fiji Build #
/bin/maven-helper.sh
/.tmp.*/

# Eclipse #
/.checksums
/.metadata
/.project
/.classpath
/.settings/

# IntelliJ #
*.iml

# Updater #
/db.xml.gz

# Vagrant #
/.vagrant/

# Cached sample images #
/samples/

# ImageJ Launcher #
/jvm.cfg

# MacOSX #
.DS_Store
/Contents/Resources/ImageJ.icns

# Wiki monitor #
/.recent-changes.*
/jssecacerts

# Micro-Manager #
*-stamp
/CoreLog.txt
hs_err*.log
/MMConfig_demo.cfg
/MMStartup.bsh

# Jython #
*$py.class

# Package Maker #
/fiji-*.7z
/fiji-*.dmg
/fiji-*.tar.bz2
/fiji-*.zip
/fiji-macosx.dmg

# Launchers #
/Contents/MacOS/ImageJ-macosx
/Contents/MacOS/ImageJ-tiger
/Contents/MacOS/fiji-macosx
/Contents/MacOS/fiji-tiger
/ImageJ
/ImageJ-linux32
/ImageJ-linux64
/ImageJ-win32.exe
/ImageJ-win64.exe
/ImageJ.cfg
/ImageJ.exe
/fiji
/fiji-linux
/fiji-linux64
/fiji-win32.exe
/fiji-win64.exe
/fiji.exe

# BigDataViewer #
/jars/bigdataviewer-core-[0-9]*.jar
/jars/spim_data-[0-9]*.jar
/plugins/Descriptor_based_registration-[0-9]*.jar
/plugins/SPIM_Registration-[0-9]*.jar
/plugins/bigdataviewer_fiji-[0-9]*.jar

# TrakEM2 #
/jars/T2-NIT-[0-9]*.jar
/jars/T2-TreelineGraph-[0-9]*.jar
/jars/VectorString-[0-9]*.jar
/jars/mpicbg-trakem2-[0-9]*.jar
/plugins/FS_Align_TrakEM2-[0-9]*.jar
/plugins/Reconstruct_Reader-[0-9]*.jar
/plugins/TrakEM2_-[0-9]*.jar
/plugins/TrakEM2_Archipelago-[0-9]*.jar
/plugins/blockmatching_-[0-9]*.jar
/plugins/register_virtual_stack_slices-[0-9]*.jar

# Fiji #
/jars/VIB-lib-[0-9]*.jar
/plugins/3D_Blob_Segmentation-[0-9]*.jar
/plugins/3D_Objects_Counter-[0-9]*.jar
/plugins/3D_Viewer-[0-9]*.jar
/plugins/AnalyzeSkeleton_-[0-9]*.jar
/plugins/Analyze_Reader_Writer-[0-9]*.jar
/plugins/Anisotropic_Diffusion_2D-[0-9]*.jar
/plugins/Archipelago_Plugins-[0-9]*.jar
/plugins/Arrow_-[0-9]*.jar
/plugins/Auto_Threshold-[0-9]*.jar
/plugins/BalloonSegmentation_-[0-9]*.jar
/plugins/Bug_Submitter-[0-9]*.jar
/plugins/CPU_Meter-[0-9]*.jar
/plugins/Calculator_Plus-[0-9]*.jar
/plugins/Colocalisation_Analysis-[0-9]*.jar
/plugins/Color_Histogram-[0-9]*.jar
/plugins/Color_Inspector_3D-[0-9]*.jar
/plugins/Colour_Deconvolution-[0-9]*.jar
/plugins/CorrectBleach_-[0-9]*.jar
/plugins/Dichromacy_-[0-9]*.jar
/plugins/Differentials_-[0-9]*.jar
/plugins/Directionality_-[0-9]*.jar
/plugins/Extended_Depth_Field-[0-9]*.jar
/plugins/FeatureJ_-[0-9]*.jar
/plugins/Feature_Detection-[0-9]*.jar
/plugins/Fiji_Archipelago-[0-9]*.jar
/plugins/Fiji_Developer-[0-9]*.jar
/plugins/Fiji_Package_Maker-[0-9]*.jar
/plugins/Fiji_Plugins-[0-9]*.jar
/plugins/Fiji_Updater.jar
/plugins/FlowJ_-[0-9]*.jar
/plugins/Graph_Cut-[0-9]*.jar
/plugins/Gray_Morphology-[0-9]*.jar
/plugins/Helmholtz_Analysis-[0-9]*.jar
/plugins/IJ_Robot-[0-9]*.jar
/plugins/IO_-[0-9]*.jar
/plugins/Image_5D-[0-9]*.jar
/plugins/Image_Expression_Parser-[0-9]*.jar
/plugins/Interactive_3D_Surface_Plot-[0-9]*.jar
/plugins/IsoData_Classifier-[0-9]*.jar
/plugins/Kuwahara_Filter-[0-9]*.jar
/plugins/Lasso_and_Blow_Tool-[0-9]*.jar
/plugins/Linear_Kuwahara-[0-9]*.jar
/plugins/LocalThickness_-[0-9]*.jar
/plugins/MTrack2_-[0-9]*.jar
/plugins/MTrackJ_-[0-9]*.jar
/plugins/M_I_P-[0-9]*.jar
/plugins/Manual_Tracking-[0-9]*.jar
/plugins/MosaicJ_-[0-9]*.jar
/plugins/Multi_Kymograph-[0-9]*.jar
/plugins/PIV_analyser-[0-9]*.jar
/plugins/PointPicker_-[0-9]*.jar
/plugins/QuickPALM_-[0-9]*.jar
/plugins/RATS_-[0-9]*.jar
/plugins/RandomJ_-[0-9]*.jar
/plugins/SPIM_Opener-[0-9]*.jar
/plugins/Samples_-[0-9]*.jar
/plugins/Series_Labeler-[0-9]*.jar
/plugins/SheppLogan_-[0-9]*.jar
/plugins/Sholl_Analysis-[0-9]*.jar
/plugins/Simple_Neurite_Tracer-[0-9]*.jar
/plugins/Siox_Segmentation-[0-9]*.jar
/plugins/Skeletonize3D_-[0-9]*.jar
/plugins/Snakuscule_-[0-9]*.jar
/plugins/SplineDeformationGenerator_-[0-9]*.jar
/plugins/StackReg_-[0-9]*.jar
/plugins/Stack_Manipulation-[0-9]*.jar
/plugins/Statistical_Region_Merging-[0-9]*.jar
/plugins/Stitching_-[0-9]*.jar
/plugins/Sync_Win-[0-9]*.jar
/plugins/Thread_Killer-[0-9]*.jar
/plugins/Threshold_Colour-[0-9]*.jar
/plugins/Time_Lapse-[0-9]*.jar
/plugins/Time_Stamper-[0-9]*.jar
/plugins/ToAST_-[0-9]*.jar
/plugins/TopoJ_-[0-9]*.jar
/plugins/TrackMate_-[0-9]*.jar
/plugins/Trainable_Segmentation-[0-9]*.jar
/plugins/TransformJ_-[0-9]*.jar
/plugins/TurboReg_-[0-9]*.jar
/plugins/UnwarpJ_-[0-9]*.jar
/plugins/VIB_-[0-9]*.jar
/plugins/Vaa3d_Reader-[0-9]*.jar
/plugins/Vaa3d_Writer-[0-9]*.jar
/plugins/Video_Editing-[0-9]*.jar
/plugins/View5D_-[0-9]*.jar
/plugins/Volume_Calculator-[0-9]*.jar
/plugins/Volume_Viewer-[0-9]*.jar
/plugins/bUnwarpJ_-[0-9]*.jar
/plugins/level_sets-[0-9]*.jar
/plugins/mpicbg_-[0-9]*.jar
/plugins/panorama_-[0-9]*.jar
/plugins/registration_3d-[0-9]*.jar

# ImageJ #
/jars/ij1-patcher-[0-9]*.jar
/jars/imagej-[0-9]*.jar
/jars/imagej-common-[0-9]*.jar
/jars/imagej-legacy-[0-9]*.jar
/jars/imagej-ops-[0-9]*.jar
/jars/imagej-plugins-commands-[0-9]*.jar
/jars/imagej-plugins-tools-[0-9]*.jar
/jars/imagej-plugins-uploader-ssh-[0-9]*.jar
/jars/imagej-plugins-uploader-webdav-[0-9]*.jar
/jars/imagej-ui-awt-[0-9]*.jar
/jars/imagej-ui-swing-[0-9]*.jar
/jars/imagej-updater-[0-9]*.jar

# ImgLib2 #
/jars/imglib2-[0-9]*.jar
/jars/imglib2-algorithm-[0-9]*.jar
/jars/imglib2-algorithm-fft-[0-9]*.jar
/jars/imglib2-algorithm-gpl-[0-9]*.jar
/jars/imglib2-ij-[0-9]*.jar
/jars/imglib2-meta-[0-9]*.jar
/jars/imglib2-ops-[0-9]*.jar
/jars/imglib2-realtransform-[0-9]*.jar
/jars/imglib2-roi-[0-9]*.jar
/jars/imglib2-ui-[0-9]*.jar

# SCIFIO #
/jars/scifio-[0-9]*.jar
/jars/scifio-bf-compat-[0-9]*.jar
/jars/scifio-cli-[0-9]*.jar
/jars/scifio-hdf5-[0-9]*.jar
/jars/scifio-jai-imageio-[0-9]*.jar
/jars/scifio-lifesci-[0-9]*.jar
/jars/scifio-ome-xml-[0-9]*.jar

# SciJava
/jars/scijava-common-[0-9]*.jar
/jars/scijava-config-[0-9]*.jar
/jars/scijava-plugins-commands-[0-9]*.jar
/jars/scijava-plugins-platforms-[0-9]*.jar
/jars/scijava-plugins-text-markdown-[0-9]*.jar
/jars/scijava-plugins-text-plain-[0-9]*.jar
/jars/scijava-ui-awt-[0-9]*.jar
/jars/scijava-ui-swing-[0-9]*.jar
/jars/scripting-beanshell-[0-9]*.jar
/jars/scripting-clojure-[0-9]*.jar
/jars/scripting-groovy-[0-9]*.jar
/jars/scripting-java-[0-9]*.jar
/jars/scripting-javascript-[0-9]*.jar
/jars/scripting-jruby-[0-9]*.jar
/jars/scripting-jython-[0-9]*.jar
/jars/swing-checkbox-tree-[0-9]*.jar

# Bio-Formats #
/jars/bio-formats/
/plugins/bio-formats_plugins-[0-9]*.jar

# Third party dependencies #
/jars/JWlz-[0-9]*.jar
/jars/args4j-[0-9]*.jar
/jars/asm-[0-9]*.jar
/jars/asm-analysis-[0-9]*.jar
/jars/asm-commons-[0-9]*.jar
/jars/asm-tree-[0-9]*.jar
/jars/asm-util-[0-9]*.jar
/jars/base64-[0-9]*.jar
/jars/batik-[0-9]*.jar
/jars/bcmail-jdk14-[0-9]*.jar
/jars/bcprov-jdk14-[0-9]*.jar
/jars/bsh-[0-9]*.jar
/jars/bytelist-[0-9]*.jar
/jars/clojure-[0-9]*.jar
/jars/commons-lang3-[0-9]*.jar
/jars/commons-logging-[0-9]*.jar
/jars/commons-math3-[0-9]*.jar
/jars/eventbus-[0-9]*.jar
/jars/fiji-compat-[0-9]*.jar
/jars/fiji-lib-[0-9]*.jar
/jars/gentyref-[0-9]*.jar
/jars/groovy-[0-9]*.jar
/jars/gson-[0-9]*.jar
/jars/ij-[0-9]*.jar
/jars/imagescience-[0-9]*.jar
/jars/imageware-[0-9]*.jar
/jars/invokebinder-[0-9]*.jar
/jars/itext-[0-9]*.jar
/jars/itextpdf-[0-9]*.jar
/jars/jai-codec-[0-9]*.jar
/jars/jai-core-[0-9]*.jar
/jars/jama-[0-9]*.jar
/jars/java-cup-[0-9]*.jar
/jars/javac-[0-9]*.jar
/jars/javassist-[0-9]*.jar
/jars/jcodings-[0-9]*.jar
/jars/jcommon-[0-9]*.jar
/jars/jdatepicker-[0-9]*.jar
/jars/jdom2-[0-9]*.jar
/jars/jep-[0-9]*.jar
/jars/jffi-[0-9]*.jar
/jars/jfreechart-[0-9]*.jar
/jars/jgoodies-common-[0-9]*.jar
/jars/jgoodies-forms-[0-9]*.jar
/jars/jgrapht-[0-9]*.jar
/jars/jgraphx-[0-9]*.jar
/jars/jhdf5-[0-9]*.jar
/jars/jhotdraw-[0-9]*.jar
/jars/jna-[0-9]*.jar
/jars/jnr-constants-[0-9]*.jar
/jars/jnr-enxio-[0-9]*.jar
/jars/jnr-ffi-[0-9]*.jar
/jars/jnr-netdb-[0-9]*.jar
/jars/jnr-posix-[0-9]*.jar
/jars/jnr-unixsocket-[0-9]*.jar
/jars/jnr-x86asm-[0-9]*.jar
/jars/joda-time-[0-9]*.jar
/jars/joni-[0-9]*.jar
/jars/jpedalSTD-[0-9]*.jar
/jars/jruby-core-[0-9]*.jar
/jars/jruby-stdlib-[0-9]*.jar
/jars/jsch-[0-9]*.jar
/jars/jython-shaded-[0-9]*.jar
/jars/jzlib-[0-9]*.jar
/jars/kryo-[0-9]*.jar
/jars/legacy-imglib1-[0-9]*.jar
/jars/log4j-[0-9]*.jar
/jars/logback-classic-[0-9]*.jar
/jars/logback-core-[0-9]*.jar
/jars/mapdb-[0-9]*.jar
/jars/markdownj-[0-9]*.jar
/jars/miglayout-[0-9]*.jar
/jars/mij-[0-9]*.jar
/jars/mines-jtk-[0-9]*.jar
/jars/minimaven-[0-9]*.jar
/jars/mpicbg-[0-9]*.jar
/jars/nailgun-server-[0-9]*.jar
/jars/native-lib-loader-[0-9]*.jar
/jars/netcdf-[0-9]*.jar
/jars/object-inspector-[0-9]*.jar
/jars/options-[0-9]*.jar
/jars/pal-optimization-[0-9]*.jar
/jars/pentaho-package-manager-[0-9]*.jar
/jars/perf4j-[0-9]*.jar
/jars/postgresql-[0-9]*.jar
/jars/rsyntaxtextarea-[0-9]*.jar
/jars/serializer-[0-9]*.jar
/jars/slf4j-api-[0-9]*.jar
/jars/slf4j-log4j12-[0-9]*.jar
/jars/snakeyaml-[0-9]*.jar
/jars/udunits-[0-9]*.jar
/jars/wavelets-[0-9]*.jar
/jars/weka-dev-[0-9]*.jar
/jars/xalan-[0-9]*.jar
/jars/xml-apis-[0-9]*.jar
/jars/yecht-[0-9]*.jar
