[submodule "ImageJA"]
	path = modules/ImageJA
	url = ssh://mob@repo.or.cz/srv/git/imageja.git
[submodule "java/linux"]
	path = java/linux
	url = git://fiji.sc/java/linux.git
[submodule "java/linux-amd64"]
	path = java/linux-amd64
	url = git://fiji.sc/java/linux-amd64.git
[submodule "java/macosx-java3d"]
	path = java/macosx-java3d
	url = git://fiji.sc/java/macosx-java3d.git
[submodule "java/win32"]
	path = java/win32
	url = git://fiji.sc/java/win32.git
[submodule "java/win64"]
	path = java/win64
	url = git://fiji.sc/java/win64.git
[submodule "mpicbg"]
	path = modules/mpicbg
	url = git://fiji.sc/mpicbg.git
[submodule "TrakEM2"]
	path = modules/TrakEM2
	url = ssh://mob@repo.or.cz/srv/git/trakem2.git
[submodule "clojure"]
	path = modules/clojure
	url = git://fiji.sc/clojure/
[submodule "ij-plugins"]
	path = modules/ij-plugins
	url = git://fiji.sc/ij-plugins
[submodule "Retrotranslator"]
	path = modules/Retrotranslator
	url = git://fiji.sc/Retrotranslator
[submodule "tcljava"]
	path = modules/tcljava
	url = git://fiji.sc/tcljava
[submodule "batik"]
	path = modules/batik
	url = git://fiji.sc/batik/.git
[submodule "junit"]
	path = modules/junit
	url = git://fiji.sc/junit
[submodule "RSyntaxTextArea"]
	path = modules/RSyntaxTextArea
	url = git://fiji.sc/RSyntaxTextArea
[submodule "AutoComplete"]
	path = modules/AutoComplete
	url = git://fiji.sc/AutoComplete
[submodule "weka"]
	path = modules/weka
	url = git://fiji.sc/weka/
[submodule "jython"]
	path = modules/jython
	url = git://fiji.sc/jython/.git
[submodule "imglib"]
	path = modules/imglib
	url = git://fiji.sc/imglib.git
[submodule "commons-math"]
	path = modules/commons-math
	url = git://fiji.sc/commons-math
[submodule "javassist"]
	path = modules/javassist
	url = git://fiji.sc/javassist
[submodule "jsch"]
	path = modules/jsch
	url = git://fiji.sc/jsch
[submodule "imagej2"]
	path = modules/imagej2
	url = git://code.imagej.net/imagej.git
[submodule "imagej5d"]
	path = modules/image5d
	url = git://fiji.sc/image5d
