hs_err*.log
/Mac-Finder-DSStore-0.94
/db.xml.gz
.DS_Store
.project
.metadata
/eclipse/
/intellij/
/netbeans/
/build.xml
.checksums
/build/
/make-targets
/fiji
/ImageJ
/ImageJ.exe
/ImageJ-tiger
/ImageJ-panther
/Contents/MacOS/ImageJ-tiger
/Contents/MacOS/ImageJ-macosx
/ImageJ-linux32
/ImageJ-linux64
/ImageJ-win32.exe
/ImageJ-win64.exe
/fiji-linux
/fiji-linux64
/Contents/MacOS/fiji-tiger
/Contents/MacOS/fiji-macosx
/fiji-win32.exe
/fiji-win64.exe
/fiji-macosx.dmg
/tests/plugins
/jvm.cfg
/ImageJ.cfg
/samples/
*.swp
/.recent-changes.*
/IJ_Prefs.txt
/Fiji.app
/fiji-*.dmg
/fiji-*.zip
/fiji-*.tar.bz2
/fiji-*.7z
*~
*$py.class
/nightly-build/
/full-nightly-build/
/MMConfig_demo.cfg
/MMStartup.bsh
/mmgr_dal_*
/CoreLog.txt
/chroot-*-i386
/livecd
/jars/javac.jar
/jars/cachedir
/tmp.ijm
/jars/fake.jar
/jars/ij.jar
/jars/ij-launcher.jar
/jars/fiji-compat.jar
/plugins/Jython_Interpreter.jar
/plugins/Clojure_Interpreter.jar
/plugins/JRuby_Interpreter.jar
/plugins/BeanShell_Interpreter.jar
/plugins/Bug_Submitter.jar
/plugins/Javascript_.jar
/plugins/LSM_Reader.jar
/plugins/LSM_Toolbox.jar
/plugins/SplineDeformationGenerator_.jar
/plugins/bUnwarpJ_.jar
/plugins/register_virtual_stack_slices.jar
/plugins/registration_3d.jar
/plugins/IO_.jar
/plugins/CLI_.jar
/plugins/level_sets.jar
/plugins/VIB_.jar
/plugins/TrakEM2_.jar
/plugins/mpicbg_.jar
/plugins/Analyze_Reader_Writer.jar
/plugins/Color_Histogram.jar
/plugins/Color_Inspector_3D.jar
/plugins/Image_5D.jar
/plugins/Interactive_3D_Surface_Plot.jar
/plugins/M_I_P.jar
/plugins/TransformJ_.jar
/plugins/View5D_.jar
/plugins/Volume_Viewer.jar
/plugins/ij-ImageIO_.jar
/plugins/loci_tools.jar
*-stamp
/jars/clojure.jar
/plugins/IJ_Robot.jar
/plugins/Fiji_Updater.jar
/plugins/Stitching_.jar
/plugins/AnalyzeSkeleton_.jar
/plugins/Skeletonize3D_.jar
/jars/jacl.jar
/jars/batik.jar
/jars/fiji-scripting.jar
/plugins/TurboReg_.jar
/plugins/Fiji_Plugins.jar
/plugins/ToAST_.jar
/jars/junit.jar
/plugins/MTrack2_.jar
/plugins/Time_Stamper.jar
/plugins/Series_Labeler.jar
/plugins/Statistical_Region_Merging.jar
/plugins/Refresh_Javas.jar
/plugins/Auto_Threshold.jar
/plugins/Arrow_.jar
/plugins/Stack_Manipulation.jar
/plugins/FlowJ_.jar
/plugins/PIV_analyser.jar
/plugins/Record_Screen.jar
/plugins/Video_Editing.jar
/jars/zs.jar
/plugins/Sync_Win.jar
/jars/rsyntaxtextarea.jar
/jars/autocomplete.jar
/plugins/Gray_Morphology.jar
/plugins/Colocalisation_Analysis.jar
/plugins/LocalThickness_.jar
/plugins/Fiji_Developer.jar
/jars/test-fiji.jar
/plugins/Manual_Tracking.jar
/plugins/Calculator_Plus.jar
/plugins/Script_Editor.jar
/plugins/3D_Objects_Counter.jar
/plugins/Trainable_Segmentation.jar
/jars/weka.jar
/plugins/IsoData_Classifier.jar
/plugins/RATS_.jar
/jars/jython.jar
/jars/VectorString.jar
/jars/fiji-lib.jar
/jars/jep.jar
/plugins/Siox_Segmentation.jar
/plugins/Directionality_.jar
/jars/Jama.jar
/jars/mpicbg.jar
/plugins/Image_Expression_Parser.jar
/plugins/Algorithm_Launcher.jar
/jars/VIB-lib.jar
/src-plugins/fiji-compat/icon.png
/src-plugins/Script_Editor/function.png
/src-plugins/Script_Editor/icon.png
/src-plugins/Script_Editor/var.png
/src-plugins/fiji-lib/help-cursor.gif
/jars/pal-optimization.jar
/plugins/Anisotropic_Diffusion_2D.jar
/modules/AutoComplete/ant-classes/
/modules/AutoComplete/autocomplete.jar
/modules/AutoComplete/dist/
/modules/RSyntaxTextArea/ant-classes/
/modules/RSyntaxTextArea/dist/
/modules/RSyntaxTextArea/rsyntaxtextarea.jar
/modules/batik/batik-1.8pre/
/modules/batik/batik.jar
/modules/batik/classes/
/modules/clojure/classes/
/modules/commons-math/commons-math.jar
/modules/commons-math/lib/
/modules/commons-math/target/
/modules/ij-plugins/ij-ImageIO_.jar
/modules/junit/junit4.5/
/modules/junit/junit.jar
/modules/junit/target/
/modules/jython/jython/build/
/modules/jython/jython/dist/
/modules/jython/jython.jar
/modules/jython/jython/tests/data/initializer/SyspathAppendingInitializer.class
/modules/tcljava/jacl.jar
/modules/weka/weka/build/
/modules/weka/weka/dist/
/modules/weka/weka.jar
/plugins/Simple_Neurite_Tracer.jar
/plugins/3D_Viewer.jar
/plugins/SPIM_Registration.jar
/bin/apache-maven-*/
/plugins/QuickPALM_.jar
/jars/commons-math.jar
/plugins/CPU_Meter.jar
/plugins/TopoJ_.jar
/plugins/Graph_Cut.jar
/plugins/Differentials_.jar
/plugins/MosaicJ_.jar
/plugins/PointPicker_.jar
/plugins/SheppLogan_.jar
/plugins/StackReg_.jar
/plugins/UnwarpJ_.jar
/plugins/Snakuscule_.jar
/jars/imagescience.jar
/plugins/TransformJ_.jar
/plugins/FeatureJ_.jar
/plugins/RandomJ_.jar
/plugins/Linear_Kuwahara.jar
/plugins/Thread_Killer.jar
/jars/mij.jar
/plugins/Samples_.jar
/plugins/Lasso_and_Blow_Tool.jar
/jars/wavelets.jar
/jars/imageware.jar
/plugins/Extended_Depth_Field.jar
/precompiled/ImageJ-tiger-i686
/precompiled/ImageJ-tiger-ppc
/precompiled/ImageJ-leopard
/jars/weave_jy2java.jar
/plugins/panorama_.jar
/plugins/3D_Blob_Segmentation.jar
/plugins/Feature_Detection.jar
/plugins/JNI_Example.jar
/lib/win32/JNI_Example.dll
/lib/win64/JNI_Example.dll
/lib/linux32/libJNI_Example.so
/lib/linux64/libJNI_Example.so
/lib/macosx/libJNI_Example.dylib
/plugins/Kuwahara_Filter.jar
/lib/linux32/libffmpeg.so
/lib/linux64/libffmpeg.so
/lib/macosx/libffmpeg.dylib
/lib/win32/ffmpeg.dll
/lib/win64/ffmpeg.dll
/plugins/FFMPEG_IO.jar
/plugins/Action_Bar.jar
/jars/javassist.jar
/plugins/Multi_Kymograph.jar
/jars/jsch.jar
/plugins/Reconstruct_Reader.jar
/jars/mpicbg.jar
/jars/clojure.jar
/plugins/Colour_Deconvolution.jar
/plugins/Dichromacy_.jar
/plugins/Threshold_Colour.jar
/modules/javassist/build/
/modules/javassist/html/
/modules/javassist/javassist.jar
/modules/javassist/javassist-src.jar
/modules/image5d/target/
/plugins/Helmholtz_Analysis.jar
/plugins/Descriptor_based_registration.jar
/plugins/SPIM_Opener.jar
/tests/sample-data/
/modules/jython/unpacked
/modules/jython/python-*
/plugins/Fiji_Package_Maker.jar
/src-plugins/*/target/
/modules/javassist/target/
/modules/jsch/build/
/modules/jsch/dist/
/modules/jsch/jsch.jar
/plugins/BalloonSegmentation_.jar
/plugins/FS_Align_TrakEM2.jar
/plugins/blockmatching_.jar

# ImgLib #
/jars/imglib-algorithms.jar
/jars/imglib-ij.jar
/jars/imglib-io.jar
/jars/imglib-scripting.jar
/jars/imglib.jar
/jars/imglib2-algorithms-gpl.jar
/jars/imglib2-algorithms.jar
/jars/imglib2-ij.jar
/jars/imglib2-io.jar
/jars/imglib2-ops.jar
/jars/imglib2-ui.jar
/jars/imglib2.jar
/modules/imglib/imglib-algorithms.jar
/modules/imglib/imglib-ij.jar
/modules/imglib/imglib-io.jar
/modules/imglib/imglib-ops.jar
/modules/imglib/imglib-scripting.jar
/modules/imglib/imglib.jar
/modules/imglib/imglib2-algorithms-gpl.jar
/modules/imglib/imglib2-algorithms.jar
/modules/imglib/imglib2-ij.jar
/modules/imglib/imglib2-io.jar
/modules/imglib/imglib2-ops.jar
/modules/imglib/imglib2-scripting.jar
/modules/imglib/imglib2-ui.jar
/modules/imglib/imglib2.jar

# Bio-Formats #
/jars/bio-formats.jar
/jars/commons-collections.jar
/jars/commons-lang.jar
/jars/commons-logging.jar
/jars/forms.jar
/jars/jai_imageio.jar
/jars/loci-common.jar
/jars/log4j.jar
/jars/lwf-stubs.jar
/jars/mdbtools-java.jar
/jars/metakit.jar
/jars/netcdf-java.jar
/jars/ome-xml.jar
/jars/poi-loci.jar
/jars/scifio.jar
/jars/serializer.jar
/jars/slf4j-api.jar
/jars/slf4j-log4j12.jar
/jars/xalan.jar
/jars/xml-apis.jar
/modules/bio-formats/artifacts/
/modules/bio-formats/components/bio-formats/build/
/modules/bio-formats/components/common/build/
/modules/bio-formats/components/flow-cytometry/build/
/modules/bio-formats/components/forks/jai/build/
/modules/bio-formats/components/forks/mdbtools/build/
/modules/bio-formats/components/forks/poi/build/
/modules/bio-formats/components/loci-plugins/build/
/modules/bio-formats/components/ome-xml/build/
/modules/bio-formats/components/stubs/lwf-stubs/build/
/modules/bio-formats/loci_tools.jar

# ImageJ2 #
/jars/eventbus.jar
/jars/ij-app.jar
/jars/ij-core.jar
/jars/ij-data.jar
/jars/ij-ext-swing.jar
/jars/ij-ext.jar
/jars/ij-io.jar
/jars/ij-legacy.jar
/jars/ij-options.jar
/jars/ij-platform-macosx.jar
/jars/ij-platform.jar
/jars/ij-plugins-app.jar
/jars/ij-plugins-data.jar
/jars/ij-plugins-debug.jar
/jars/ij-plugins-display.jar
/jars/ij-plugins-misc.jar
/jars/ij-tools.jar
/jars/ij-ui-common-awt.jar
/jars/ij-ui-swing-base.jar
/jars/ij-ui-swing-plugins.jar
/jars/ij-ui-swing-sdi.jar
/jars/ij-ui-swing-tools.jar
/jars/ij-ui-swing-updater.jar
/jars/ij-ui.jar
/jars/ij-updater-core.jar
/jars/ij-updater-ssh.jar
/jars/ij-util-awt.jar
/jars/jhotdraw.jar
/jars/miglayout.jar
/jars/object-inspector.jar
/jars/sezpoz.jar
/jars/velocity.jar
/plugins/CorrectBleach_.jar
