Ignacio Arganda Carreras <ignacio@asclepio.ii.uam.es>
Jean-Yves Tinevez <tinevez@private-tinevez.local>
Jean-Yves Tinevez <tinevez@private-tinevez.mpi-cbg.de>
Johannes Schindelin <imaging@Leonhard.(none)>
Johannes Schindelin <schindel@Schindels-Computer.local>
Mark Longair <longair@pacific.mpi-cbg.de>
Pavel Tomancak <tomancak@mpi-cbg.de>
Stephan Preibisch <Stephan@mobilejimmy.(none)>
Stephan Saalfeld <saalfeld@mpi-cbg.de>
Verena Kaynig <vkaynig@venera9.(none)>
Verena Kaynig <verena.kaynig@inf.ethz.ch>
