# Name: Advanced Sholl Analysis# Description:# A Plugin for 2D/3D bitmap Sholl# http://imagejdocu.tudor.lu/doku.php?id=plugin:analysis:asa:start# https://github.com/tferr/ASA# Author: Tiago Ferreira# Requires: ImageJ 1.46Analyze, "Sholl Analysis", Advanced_Sholl_AnalysisImage>Lookup Tables, "Sholl LUT", Sholl_Utils("jet")File>Open Samples, "ddaC Neuron (84K)", Sholl_Utils("sample")Help>About Plugins, "Sholl Analysis...", Sholl_Utils("about")