# Name: Sholl Analysis

# Description:
# Quantitative Sholl analysis of segmented arbors
# http://imagejdocu.tudor.lu/doku.php?id=plugin:analysis:asa:start
# https://github.com/tferr/ASA
# Author: Tiago Ferreira
# Requires: ImageJ 1.46

Analyze, "Sholl Analysis...", Sholl_Analysis
Image>Lookup Tables, "Sholl LUT", Sholl_Utils("jet")
File>Open Samples, "ddaC Neuron (84K)", Sholl_Utils("sample")
Help>About Plugins, "Sholl Plugins...", Sholl_Utils("about")

