[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ImageJ-TrakEM2
Type=Application
Terminal=true
Name[en_US]=ImageJ-TrakEM2
Exec=./ImageJ/run
Icon[en_US]=$PWD/ImageJ/resources/ImageJ.png
Icon=$PWD/ImageJ/resources/ImageJ.png
GenericName[en_US]=ImageJ-TrakEM2
