# Name: Beamforming

# Description:
# ImageJ plugins for computing Local Thickness and Distance Map.

# Author: Bob Dougherty, OptiNav, Inc. www.optinav.com
# Version: 1
# Date: 2007/8/10

# Generate the jar file using: "jar cvfM LocalThickness_.jar *"

Analyze>Local Thickness, "Local Thickness (complete process)", Local_Thickness_Driver("run")
Analyze>Local Thickness, "Geometry to Distance Map", EDT_S1D("run")
Analyze>Local Thickness, "Distance Map to Distance Ridge", Distance_Ridge("run")
Analyze>Local Thickness, "Distance Ridge to Local Thickness", Local_Thickness_Parallel("run")
Analyze>Local Thickness, "Local Thickness to Cleaned-Up Local Thickness", Clean_Up_Local_Thickness("run")
