# Name: Color Histogram

# This plugin performs calculates the Color Histogram of an image
# It is based on the Histogram plugin,  the HistogramWindow class and the LookUpTable class.

# Author: Dimiter Prodanov (D.Prodanov at lumc.nl>)
# Version: 1.0
# Date: 2003/12/19
# Requires: ImageJ 1.31s

Analyze, "Color Histogram",ColorHistogram_
Help>About Plugins, "Color Histogram...", ColorHistogram_("about")
