Plugins>SPIM Registration, "Registration", SPIM_Registration
Plugins>SPIM Registration, "Advanced Registration", SPIM_Registration_File
Plugins>SPIM Registration, "MultiChannel Registration", MultiChannel_SPIM_Registration
Plugins>SPIM Registration, "Bead Registration (beta)", fiji.plugin.Bead_Registration
Plugins>SPIM Registration, "Multi-View Fusion (beta)", fiji.plugin.Multi_View_Fusion