Plugins>SPIM Registration, "Bead-based registration", fiji.plugin.Bead_Registration
Plugins>SPIM Registration, "Multi-view fusion", fiji.plugin.Multi_View_Fusion
Plugins>SPIM Registration, "Multi-view deconvolution", fiji.plugin.Multi_View_Deconvolution
Plugins>SPIM Registration>Utilities, "Apply external transformation", fiji.plugin.Apply_External_Transformation
Plugins>SPIM Registration>deprecated, "Registration", SPIM_Registration
Plugins>SPIM Registration>deprecated, "Advanced Registration", SPIM_Registration_File
Plugins>SPIM Registration>deprecated, "MultiChannel Registration", MultiChannel_SPIM_Registration