# Name: Sholl Analysis

# Description:
# Quantitative Sholl analysis of segmented arbors
# http://fiji.sc/Sholl_Analysis
# https://github.com/tferr/ASA
# Author: Tiago Ferreira
# Requires: ImageJ 1.46

Analyze, "Sholl Analysis...", Sholl_Analysis
File>Open Samples, "ddaC Neuron (84K)", Sholl_Utils("sample")
Help>About Plugins, "About Sholl Analysis...", Sholl_Utils("about")
##Deprecated with IJ 1.48a## Image>Lookup Tables, "Sholl LUT", Sholl_Utils("jet")
