<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleAllowMixedLocalizations</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<!--
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>*</string>
				</array>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>*/*</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>any</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSTypeIsPackage</key>
				<false/>
			</dict>
		</array>
		-->
		<key>CFBundleExecutable</key>
		<string>ImageJ-macosx</string> <!-- <string>fiji-macos-universal</string> -->
		<key>CFBundleGetInfoString</key>
		<string>Fiji for macOS</string>
		<key>CFBundleIconFile</key>
		<string>Fiji.icns</string>
		<key>CFBundleIdentifier</key>
		<string>sc.fiji</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Fiji</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<!-- See https://developer.apple.com/app-store/categories/ for list of AppStore categories -->
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.utilities</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright (C) 2024</string>
		<key>NSHighResolutionCapable</key>
		<string>true</string>
		<!--
			<key>NSPrincipalClass</key>
			<string>NSApplication</string>
		-->
		<key>fiji</key>
		<dict>
			<key>memory</key>
			<string>auto</string>
			<key>system</key>
			<string>0</string>
			<key>allowMultiple</key>
			<string>false</string>
			<key>JVMOptions</key>
			<string></string>
			<key>DefaultArguments</key>
			<string></string>
		</dict>
	</dict>
</plist>
