# Name: blockmatching_

# Visualize and Test Bloc kMatching

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de>
# Version: 0.1a
# Date: 2012/03/27
# Requires: ImageJA 1.45b

Plugins>Feature Extraction, "Extract Block Matching Correspondences", mpicbg.ij.plugin.BlockMatching_ExtractPoinRoi
Plugins>Registration>Elastic, "Test Block Matching Parameters", mpicbg.ij.plugin.BlockMatching_TestParameters
