# Multi Kymograph

# Author: Jens Rietdorf & Arne Seitz

Analyze>Multi Kymograph, "Multi Kymograph", MultipleKymograph_
Analyze>Multi Kymograph, "Multi Overlay", MultipleOverlay_
Analyze>Multi Kymograph, "Stack Difference", StackDifference_
Analyze>Multi Kymograph, "Walking Average", WalkingAverage_