# Script Editor:
#	an editor for the Fiji scripting languages with syntax
#	highlighting, in-place execution and class name completion.
#
# Authors: Sumit Dubey, Albert Cardona, Johannes Schindelin

File>New, "Script", fiji.scripting.Script_Editor
Plugins>Scripting, "Script Editor", fiji.scripting.Script_Editor
Plugins>Scripting, "Open Source for Menu Item", fiji.scripting.OpenSourceForMenuItem
