Plugins>RandomJ, "RandomJ Binomial", RJ_Binomial
Plugins>RandomJ, "RandomJ Exponential", RJ_Exponential
Plugins>RandomJ, "RandomJ Gamma", RJ_Gamma
Plugins>RandomJ, "RandomJ Gaussian", RJ_Gaussian
Plugins>RandomJ, "RandomJ Options", RJ_Options
Plugins>RandomJ, "RandomJ Panel", RJ_Panel
Plugins>RandomJ, "RandomJ Poisson", RJ_Poisson
Plugins>RandomJ, "RandomJ Uniform", RJ_Uniform
Help>About Plugins, "RandomJ...", RJ_Website
