# Name: Object_Counter3D
 
# counts objects in a 3D stack by using a dumb threshold on the slices then connecting components of
# consecutive slices that are the same object, and makes results. 


# code is from the original developer Fabrice.Cordelieres@curie.u-psud.fr in August 2009 (newer than that in macbiophotonics plugin bundle)
Analyze, "3D Objects Counter", _3D_objects_counter
Analyze, "3D OC Options", _3D_OC_Options
