/ffmpeg
/build/
/jna-wrapper.jar
/FFMPEG_IO.jar
/avlog.[do]
/sysroot
/binutils
/build-binutils
/mingw-w64
/build-headers
/build-crt
/gmp-*
/mpfr-*
/mpc-*
/gcc
/build-gcc
/util-linux-ng-2.16/
/util-linux_2.16-1ubuntu5.diff.gz
/util-linux_2.16.orig.tar.gz
/odcctools/
/build-odcctools
/build-odcctools64
/mac-sysroot
/Payload
/gcc-5664/
/gcc-5664.tar.gz
/build-macgcc
/build-macgcc64
