# Name: Analyze Reader and Writer

# Description:
# These plugins load and save 
# images in Analyze format.

# Author:   Guy Williams
# Date: 2007/06/28

# Generate the jar file using: "jar cvfM Analyze_Reader_Writer.jar *"

File>Import, "Analyze...", Analyze_Reader
File>Save As, "Analyze... ", Analyze_Writer
