# Name: VIB

# Author: Johannes Schindelin, Bene Schmid and Mark Longair

File>Import, "Amira...", AmiraMeshReader_
File>Import, "Biorad...", Biorad_Reader
File>Import, "Leica SP...", leica.Leica_SP_Reader
File>Import, "Show Amira Surface", isosurface.AmiraSurface

File>Save As, "AmiraMesh ...", AmiraMeshWriter_
File>Save As, "AmiraTable ...", AmiraTableWriter_
File>Save As, "Biorad ...", Biorad_Writer
File>Save As, "Wavefront .OBJ ...", marchingcubes.ExportMesh_
File>Save As, "Leica SP ...", leica.Leica_SP_Writer

Plugins>Analyze, "Find differences", FindIt_
Plugins>Analyze, "Delaunay Voronoi", Delaunay_Voronoi
Plugins>Analyze, "VIB Protocol", VIB_Protocol
Plugins>Analyze, "2D Histogram", util.Histogram_2D
Plugins>Analyze, "Visual grep", Visual_Grep
Plugins>Analyze, "Compute Curvatures", Compute_Curvatures
Plugins>Analyze, "Tubeness", features.Tubeness_
Plugins>Analyze, "Surfaceness", features.Surfaceness_

Plugins>Utilities>Debugging, "Test Marching Cubes", MC_Test
Plugins>Utilities>Debugging, "Test Java3D", Test_Java3D

Plugins>Stacks, "Crop (3D)", stacks.Three_Pane_Crop
Plugins>Stacks, "Average Images", vib.Average_Images

Image>Color, "Average Color", Average_Color
Image>Color, "RGB to CIELAB", RGB_to_CIELAB
Image>Color, "RGB to Luminance", util.RGB_to_Luminance

Plugins>Landmarks, "Name Landmarks and Register", landmarks.Name_Points

Plugins>Process, "Bilateral Filter", Bilateral_Filter
Plugins>Process, "Implicit Interpolate Binary", Implicit_Interpolate_Binary
Plugins>Process, "Replace value", Replace_Value
Plugins>Process, "Distance Transform 3D", process3d.Distance_Transform_3D
Edit>Selection, "Fill ROI holes", Fill_holes
Image>Stacks, "Reslice Z", Reslice_Z
Plugins>Process, "Shape-based averaging", Rohlfing_SBA
Plugins>Process, "Seam remover", Seam_Remover
Plugins>Process, "Show label centers", Show_Label_Centers

Plugins>Process, "Triangle Algorithm", Triangle_Algorithm
Plugins>Process, "Mask Of Nearby Points", util.Mask_Of_Nearby_Points
Plugins>Process, "Find Connected Regions", util.Find_Connected_Regions
Plugins>Process, "Quantile Based Normalization", util.Quantile_Based_Normalization

Plugins>Process, "Resample", vib.Resample_

Plugins>Process, "Dilate (3D)", process3d.Dilate_
Plugins>Process, "Erode (3D)", process3d.Erode_
Plugins>Process, "Flood Fill(3D)", process3d.Flood_Fill
Plugins>Process, "Gradient (3D)", process3d.Gradient_
Plugins>Process, "IFT (3D)", process3d.IFT_
Plugins>Process, "Laplace (3D)", process3d.Laplace_
Plugins>Process, "Maximum (3D)", process3d.Maximum_
# Repeated entry for backward compatibility, to avoid breaking macros
Plugins>Process, "Max (3D)", process3d.Maximum_
Plugins>Process, "Median (3D)", process3d.Median_
Plugins>Process, "Minimum (3D)", process3d.Minimum_
Plugins>Process, "Particle Analyzer (3D)", process3d.Particle_Analyzer_3D
Plugins>Process, "Rebin (3D)", process3d.Rebin_
Plugins>Process, "Shape-Based Averaging (Experimental)", util.RohlfingSBA

Plugins>Registration, "Align Image by line ROI", Align_Image
Plugins>Registration, "Rigid Registration", vib.RigidRegistration_
Plugins>Registration, "Moving Least Squares", Moving_Least_Squares

Plugins>Segmentation, "Segmentation Editor", Segmentation_Editor
Plugins>Segmentation, "Blow/Lasso Tool", plugin.Lasso_

Plugins>Utilities, "Collect Garbage", CollectGarbage_
#Plugins>Utilities, "Install Java3D", Install_Java3D
#Plugins>Utilities, "Adjust Menu Font", Menu_Font
Plugins>Utilities, "Thread killer", Thread_Killer

# Ignoring plugins that are not ready
#Plugins>Unknown, "KD Cartoon", KD_Cartoon

# Ignoring obsolete plugins:
# Plugins>Edit, "ROI Brush", ROIBRush_
# Plugins>Utilities, "Scrollable stack window", Scrollable_Stackwindow

Plugins>Examples, "Spheres and Tubes in 3D", customnode.Mesh_Maker
