Plugins>Stitching, "Pairwise stitching", plugin.Stitching_Pairwise
Plugins>Stitching, "Grid/Collection stitching", plugin.Stitching_Grid
Plugins>Stitching>deprecated, "2D Stitching", Stitching_2D
Plugins>Stitching>deprecated, "3D Stitching", Stitching_3D
Plugins>Stitching>deprecated, "Stitch Grid of Images", Stitch_Image_Grid
Plugins>Stitching>deprecated, "Stitch Sequence of Grids of Images", Stitch_Image_Grid_Sequence
Plugins>Stitching>deprecated, "Stitch Collection of Images", Stitch_Image_Collection
Plugins>Stitching>deprecated, "Stitch Directory with Images (unknown configuration)", Stitch_Image_Directory
Plugins>Stitching>deprecated, "Stitch Multiple Series or Tile Scan File", Stitch_Multiple_Series_File
