# Name: Register Virtual Stack Slices
# Author: Albert Cardona, Stephan Saalfeld, Ignacio Arganda-Carreras
# Maintainer: Ignacio Arganda-Carreras (ignacio.arganda@gmail.com)

Plugins>Registration, "Register Virtual Stack Slices", register_virtual_stack.Register_Virtual_Stack_MT
Plugins>Transform, "Transform Virtual Stack Slices", register_virtual_stack.Transform_Virtual_Stack_MT
