# Taken from MacBiophotoinics distribution
Image>Stacks>Tools_, "Slice Remover", Slice_Remover
Image>Stacks>Tools_, "Slice Keeper", Slice_Keeper
Image>Stacks>Tools_, "Stack Sorter", Stack_Sorter
Image>Stacks>Tools_, "Stack Splitter", Stack_Splitter
Image>Stacks>Tools_, "Interleave", Stack_Interleaver
Image>Stacks>Tools_, "Deinterleave", DeInterleave_

Image>Stacks, "Kalman Stack Filter", Kalman_Filter
