Analyze>QuickPALM, "Analyse Particles", QuickPALM.Analyse_Particles
Analyze>QuickPALM, "Stop Analyse Particles (kills the threads)", QuickPALM.Stop_processing
Analyze>QuickPALM, "Reconstruct Dataset", QuickPALM.Reconstruct_Dataset
Analyze>QuickPALM, "-"
Analyze>QuickPALM, "Create 3D calibration (requires astigmatism)", QuickPALM.Create_3D_calibration
Analyze>QuickPALM, "-"
Analyze>QuickPALM, "Correct Particles Drift (based on ROI)", QuickPALM.Correct_Drift2
Analyze>QuickPALM, "-"
Analyze>QuickPALM, "Fast VirtualStack Opener", QuickPALM.Run_MyMacro("Fast_VirtualStack_Opener.txt")
Analyze>QuickPALM, "Load Particles (.tif file - fast)", QuickPALM.Load_particles_tableFromImg
Analyze>QuickPALM, "Save Particles (.tif file - fast)", QuickPALM.Save_particles_table2img
Analyze>QuickPALM, "Sort Particles by frame (in a .tif particle table file)", QuickPALM.Run_MyMacro("Sort_particles.txt")
Analyze>QuickPALM, "-"
Analyze>QuickPALM, "Update QuickPALM", QuickPALM.Run_MyMacro("Update_.txt")
Analyze>QuickPALM, "About...", QuickPALM.Run_MyMacro("About_.txt")
#-----
File>Import>QuickPALM, " Open VirtualStack", QuickPALM.Run_MyMacro("Fast_VirtualStack_Opener.txt")
File>Import>QuickPALM, " Load Particles (.tif file - fast)", QuickPALM.Load_particles_tableFromImg
File>Import>QuickPALM, " Save Particles (.tif file - fast)", QuickPALM.Save_particles_table2img


