Source: fiji
Section: graphics
Priority: extra
Maintainer: Mark Longair <mhl@pobox.com>
Build-Depends: debhelper (>= 5), gcc, lsb-release, dpkg-dev, openjdk-6-jdk, libjama-java (>= 1.0.2), ant, ant-optional, bsh, libbatik-java, libxml-commons-external-java, junit4 (>= 4.3), weka, libitext1-java, jython, libjzlib-java, clojure, rhino, libxml-commons-external-java, libpg-java, libjsch-java, libjcommon-java, libjfreechart-java, libjava3d-java, libvecmath-java, libjava3d-jni
Standards-Version: 3.7.2

Package: fiji-tcljava
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-jpedal
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-jai (>= 20080801134354), fiji-plugins (>= 20080801134354)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-examples
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-zs
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-plugins (>= 20080801134354)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-base
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-plugins (>= 20090612005019), fiji-imagej (>= 20100322143330)
Description: Core components of Fiji
 [Fill in some more description here, indented by one space.]
     http://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Description

Package: fiji-imagej
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-loci-tools
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-plugins (>= 20090429190853), fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-bunwarpj
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-color-histogram
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-edu-mines-jtk
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-plugins (>= 20090429190853)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-trakem2
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-mpicbg (>= 20100322140540), fiji-bunwarpj (>= 20100323104929), fiji-vib (>= 20100304153432), fiji-edu-mines-jtk (>= 20080801134354), fiji-imagej (>= 20100322143330), fiji-loci-tools (>= 20100311140109), fiji-plugins (>= 20100304153432)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-luts
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-plugins
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-mpicbg (>= 20100322140540), fiji-bunwarpj (>= 20100323104929), fiji-base (>= 20100304153432), fiji-edu-mines-jtk (>= 20080801134354), fiji-imagej (>= 20100322143330), fiji-loci-tools (>= 20100311140109), fiji-tcljava (>= 20081218211215), fiji-trakem2 (>= 20100217110922)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-scripting
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-rsyntaxtextarea (>= 20090524213156), fiji-vib (>= 20100304153432), fiji-base (>= 20100322143330), fiji-autocomplete (>= 20090524213156), fiji-imagej (>= 20100322143330), fiji-plugins (>= 20100304153432), fiji-jruby (>= 20080801134354)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-mpicbg
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-lsm-toolbox
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-lsm-reader (>= 20100322140540), fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-view5d
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-imglib
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-mtrack2
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-vib
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-plugins (>= 20090429190853), fiji-imagej (>= 20100322143330)
Description: Fiji components previous from the VIB repository
 This package includes many useful Fiji plugins, including the 3D
 viewer, the Virtual Insect Brain protocol, the Simple Neurite Tracer
 and many other plugins.

Package: fiji-autocomplete
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-rsyntaxtextarea (>= 20090524213156)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-ij-imageio
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-jai (>= 20080801134354), fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-jruby
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-lsm-reader
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-rsyntaxtextarea
Section: graphics
Architecture: any
Priority: extra
Depends: 
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-jai
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-loci-tools (>= 20100311140109)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-mip
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-io
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-jpedal (>= 20080801134354), fiji-plugins (>= 20081218211215), fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji-barthel-plugins
Section: graphics
Architecture: any
Priority: extra
Depends: fiji-imagej (>= 20100322143330)
Description: [FIXME: please write a description for this Fiji package]
 [More description should go here.]

Package: fiji
Section: graphics
Architecture: all
Priority: extra
Depends: fiji-jpedal (>= 20080801134354), fiji-examples (>= 20090919214431), fiji-zs (>= 20090429190902), fiji-base (>= 20100322143330), fiji-imagej (>= 20100322143330), fiji-loci-tools (>= 20100311140109), fiji-bunwarpj (>= 20100323104929), fiji-color-histogram (>= 20081015122324), fiji-edu-mines-jtk (>= 20080801134354), fiji-trakem2 (>= 20100217110922), fiji-luts (>= 20090919121518), fiji-plugins (>= 20100325222935), fiji-scripting (>= 20100304153432), fiji-mip (>= 20090429190857), fiji-mpicbg (>= 20100322140540), fiji-lsm-toolbox (>= 20091014220327), fiji-view5d (>= 20090930194753), fiji-mtrack2 (>= 20090429190900), fiji-vib (>= 20100304153432), fiji-autocomplete (>= 20090524213156), fiji-ij-imageio (>= 20081218211215), fiji-jruby (>= 20080801134354), fiji-lsm-reader (>= 20100322140540), fiji-rsyntaxtextarea (>= 20090524213156), fiji-jai (>= 20080801134354), fiji-tcljava (>= 20081218211215), fiji-io (>= 20100205115132), fiji-barthel-plugins (>= 20081015122326)
Description: A metapackage for the Fiji image processing suite (based on ImageJ)
 Fiji is a project aiming at simplifying:
    * the installation of ImageJ
    * the usage of ImageJ
    * the usage of specific, powerful ImageJ plugins
    * the development of plugins using ImageJ
 For more information please visit http://pacific.mpi-cbg.de/
