[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fiji
GenericName=
Comment=
Icon=/usr/share/pixmaps/fiji-logo-32x32-b.xpm
Exec=/usr/bin/fiji
Terminal=false
Categories=Graphics
