#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)

CWD := $(shell pwd)

BUILD_COMMAND := debian/build-command

JAVA3D_JARS := /usr/share/java/vecmath.jar:/usr/share/java/j3dutils.jar:/usr/lib/jni/libj3dcore-ogl.so:/usr/share/java/j3dcore.jar

INSTALLED_JVM_ROOT := $(shell cat debian/java-home)

VERSION_IN_CHANGELOG=$(shell dpkg-parsechangelog | egrep ^Version: | sed "s/Version: //")
PACKAGE_IN_CHANGELOG=$(shell dpkg-parsechangelog | egrep ^Source: | sed "s/Source: //")

CWD_BASENAME=$(shell basename `realpath .`)
REQUIRED_DIRECTORY_NAME=${PACKAGE_IN_CHANGELOG}-${VERSION_IN_CHANGELOG}

prebuild-actions :
	@if test $(CWD_BASENAME) != $(REQUIRED_DIRECTORY_NAME); then \
		echo "Warning: the current directory name ($(CWD_BASENAME)) does not match" && \
		echo "the package name and version in the new changelog." && \
		echo "Rename this directory to: $(REQUIRED_DIRECTORY_NAME)" && \
		false; fi

# This has to be exported to make some magic below work.
export DH_OPTIONS

INDEP_STAMPS=

ARCH_STAMPS=fiji-packarch-stamp

configure : configure-stamp

configure-stamp :
	dh_testdir
	touch configure-stamp

build : prebuild-actions build-arch build-indep

build-arch : build-arch-stamp

build-arch-stamp : configure-stamp
	$(BUILD_COMMAND)
	touch $@

build-indep : build-indep-stamp

build-indep-stamp : configure-stamp
	touch $@

clean : prebuild-actions
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp install-arch-stamp install-indep-stamp
	rm -f $(INDEP_STAMPS) $(ARCH_STAMPS)
	$(BUILD_COMMAND) clean
	rm -f fjij fiji.o
	dh_clean

install : install-indep-stamp install-arch-stamp

install-indep-stamp : build-indep-stamp
	dh_testdir
	dh_testroot
	dh_clean -k -i
	dh_installdirs -i
	dh_install -i
	touch install-indep-stamp

DESTDIR=$(CURDIR)/debian/fiji-base

install-arch-stamp : build-arch-stamp
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s
	install -d $(DESTDIR)/usr/bin/
	install -d $(DESTDIR)/usr/lib/fiji/
	install -m 755 fiji $(DESTDIR)/usr/lib/fiji/
	< debian/simple-launcher sed \
		-e 's,@@INSTALLED_JVM_ROOT@@,$(INSTALLED_JVM_ROOT),' \
		-e 's,@@LD_LIBRARY_PATH@@,$(NEW_LD_LIBRARY_PATH),' > $(DESTDIR)/usr/bin/fiji
	chmod 755 $(DESTDIR)/usr/bin/fiji

	install -d $(DESTDIR)/usr/share/fiji/
	install -d $(DESTDIR)/usr/share/pixmaps/
	install -d $(DESTDIR)/usr/share/doc/fiji-base/
	install -d $(DESTDIR)/usr/lib/fiji/jni/
	install -d $(DESTDIR)/usr/share/applications/
	install -d $(DESTDIR)/etc/default/

	install -m 644 LICENSES $(DESTDIR)/usr/share/doc/fiji-base/
	install -m 644 NOTES $(DESTDIR)/usr/share/doc/fiji-base/
	install -m 644 README $(DESTDIR)/usr/share/doc/fiji-base/
	install -m 644 TODO $(DESTDIR)/usr/share/doc/fiji-base/

	install -m 644 images/fiji-logo-16x16.xpm $(DESTDIR)/usr/share/pixmaps/
	install -m 644 images/fiji-logo-32x32-b.xpm $(DESTDIR)/usr/share/pixmaps/

	install -m 644 debian/fiji.desktop $(DESTDIR)/usr/share/applications/
	install -m 644 debian/etc-default-fiji $(DESTDIR)/etc/default/fiji

	debian/update-debian.py --install

	dh_install -s
	touch install-arch-stamp

%-packindep-stamp : build-indep-stamp install-indep-stamp
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	touch $@

# Build architecture independant packages using the common target.
binary-indep : $(INDEP_STAMPS)

%-packarch-stamp : build-arch-stamp install-arch-stamp
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	touch $@

# Build architecture dependant packages using the common target.
binary-arch : $(ARCH_STAMPS)

binary : binary-arch binary-indep

.PHONY : build clean binary-indep binary-arch binary install install-indep install-arch configure prebuild-actions
