# The Fiji Updater and the Plugin Manager

Edit>Options, "Configure Fiji Updater", fiji.updater.UptodateCheck("config")
Help, "Licenses", ij.plugin.BrowserLauncher("http://fiji.sc/cgi-bin/gitweb.cgi?p=fiji.git;a=blob_plain;f=LICENSES;hb=HEAD")
Help, "Fiji Wiki", ij.plugin.BrowserLauncher("http://fiji.sc/")
Help, "Update Fiji", fiji.updater.Updater("update")
