Plugins>Registration, "Descriptor-based registration (2d/3d)", plugin.Descriptor_based_registration
Plugins>Registration, "Manual landmark selection (3d)", plugin.Manual_Landmark_Selection
Plugins>Registration, "Descriptor-based series registration (2d/3d + t)", plugin.Descriptor_based_series_registration