# Taken from MacBiophotoinics distribution
Image>Stacks>Manipulation, "Concatenate", Concatenate_
Image>Stacks>Manipulation, "Slice Remover", Slice_Remover
Image>Stacks>Manipulation, "Slice Keeper", Slice_Keeper
Image>Stacks>Manipulation, "Stack Combiner", Stack_Combiner
Image>Stacks>Manipulation, "Stack Inserter", Stack_Inserter
Image>Stacks>Manipulation, "Stack Maker", Stack_Maker
Image>Stacks>Manipulation, "Stack Reverser", Stack_Reverser
Image>Stacks>Manipulation, "Stack Sorter", Stack_Sorter
Image>Stacks>Manipulation, "Stack Splitter", Stack_Splitter
Image>Stacks>Manipulation, "Substack Maker", Substack_Maker
Image>Stacks>Manipulation, "Interleave", Stack_Interleaver
Image>Stacks>Manipulation, "Deinterleave", DeInterleave_
Image>Stacks>Manipulation, "Grouped ZProjector", Grouped_ZProjector

