# Taken from MacBiophotoinics distribution
Image>Stacks>Manipulation, "Slice Remover", Slice_Remover
Image>Stacks>Manipulation, "Slice Keeper", Slice_Keeper
Image>Stacks>Manipulation, "Stack Sorter", Stack_Sorter
Image>Stacks>Manipulation, "Stack Splitter", Stack_Splitter
Image>Stacks>Manipulation, "Interleave", Stack_Interleaver
Image>Stacks>Manipulation, "Deinterleave", DeInterleave_

Image>Stacks, "Kalman Stack Filter", Kalman_Filter
