Plugins>Cluster, "Start Cluster...", edu.utexas.clm.archipelago.Fiji_Archipelago("gui")
Plugins>Cluster, "Attach to Cluster...", edu.utexas.clm.archipelago.Fiji_Archipelago("client")
#Plugins>Cluster, "Benchmark...", edu.utexas.clm.archipelago.example.Cluster_SIFT("test")
#Plugins>Cluster, "EQ Test", edu.utexas.clm.archipelago.example.Equality_Example("")
#Plugins>Cluster, "Test Cluster", edu.utexas.clm.archipelago.example.Test_Cluster("")
#Plugins>Cluster, "Stress Test", edu.utexas.clm.archipelago.example.Stress_Test("")
