Plugins>Cluster, "Start Cluster...", edu.utexas.clm.archipelago.Fiji_Archipelago("gui")
Plugins>Cluster, "Benchmark...", edu.utexas.clm.archipelago.example.Cluster_SIFT("test")
Plugins>Cluster, "EQ Test", edu.utexas.clm.archipelago.example.Equality_Example("")
Plugins>Cluster, "Test", edu.utexas.clm.archipelago.example.Test_Cluster("")
