# Name: Stochastic_Denoise

# Implementation of the stochastic image denoising algotithm as proposed by:
#
#   Francisco Estrada, David Fleet, Allan Jepson
#   Stochastic Image Denoising
#   British Mashine Vision Conference 2009

# Author: Jan Funke
# Version: 0.1
# Date: 2010/10/05

Plugins>Process, "Stochastic Denoising", Stochastic_Denoise
