# A plugin that helps with creating Tutorials on the Fiji Wiki
# see http://pacific.mpi-cbg.de/wiki/index.php/How_to_make_a_new_tutorial
#
# Author: Johannes Schindelin

Plugins>Utilities>Fiji, "New Fiji News", fiji.Wiki_Editor("news")
Plugins>Utilities>Fiji, "New Fiji Tutorial", fiji.Wiki_Editor("tutorial-maker")
Plugins>Utilities>Fiji, "New Fiji Wiki Screenshot", fiji.Wiki_Editor("screenshot")
Plugins>Utilities>Fiji, "Upload Image to Fiji Wiki", fiji.Upload_Image_To_Wiki
Plugins>Utilities>Fiji, "Inspect Java Objects", fiji.debugging.Object_Inspector
