# Name: Trainable Segmentation and Advanced Weka Segmentation
# Author: Verena Kaynig, Ignacio Arganda-Carreras, Albert Cardona
# Maintainer: Ignacio Arganda-Carreras (iarganda@mit.edu)

Plugins>Segmentation, "Trainable Segmentation", trainableSegmentation.Trainable_Segmentation
Plugins>Segmentation, "Advanced Weka Segmentation", trainableSegmentation.Weka_Segmentation
