# Name: Trainable Weka Segmentation
# Author: Ignacio Arganda-Carreras, Verena Kaynig, Albert Cardona
# Maintainer: Ignacio Arganda-Carreras (iargandacarreras@gmail.com)

Plugins>Segmentation, "Trainable Weka Segmentation", trainableSegmentation.Weka_Segmentation
Plugins>Segmentation>deprecated, "Trainable Segmentation", trainableSegmentation.Trainable_Segmentation
Plugins>Segmentation>deprecated, "Advanced Weka Segmentation", trainableSegmentation.Weka_Segmentation
