# Name: Sync_Windows

# Author: Joachim Walter, Patrick Kelly
# Version: 1.5
# Date: 2006/04/18
# Requires: ImageJ 1.37b

Analyze>Tools, "Sync Windows", Sync_Windows("")
Analyze>Tools, "Sync Measure 3D", Sync_Measure_3D("")

Help>About Plugins, "Sync Windows...", Sync_Windows("about")
Help>About Plugins, "Sync Measure 3D...", Sync_Measure_3D("about")