# Name: Vaa3D Reader
# Author: Christopher M. Bruns
# Version: 2.0.0

# Custom reader for Vaa3D application (http://vaa3d.org) 3D volume file formats
# .v3draw and .v3dpbd.

# We don't need an explicit plugin menu for reading, since modified
# HandleExtraFileTypes class allows File->Open... and Drag-n-Drop
File>Import, "Vaa3d...", org.janelia.vaa3d.reader.Vaa3d_Reader

