# Author Benjamin Schmid
# Initial release 23 April 2009

Image>Video Editing, "New Video", video2.New_Video
Image>Video Editing, "Open Video", video2.Open_Video
Image>Video Editing, "Add Empty Frame", video2.Add_Empty_Frame
Image>Video Editing, "Duplicate Frame", video2.Duplicate_Frame
Image>Video Editing, "Insert Stack", video2.Insert_Stack
Image>Video Editing, "Delete Frame", video2.Delete_Frame
Image>Video Editing, "Make Transition", video2.Make_Transition
Image>Video Editing, "Draw Roi", video2.Draw_Roi
Image>Video Editing, "Move Roi", video2.Move_Roi

