Plugins>Feature Extraction>FeatureJ, "FeatureJ Derivatives", FJ_Derivatives
Plugins>Feature Extraction>FeatureJ, "FeatureJ Edges", FJ_Edges
Plugins>Feature Extraction>FeatureJ, "FeatureJ Hessian", FJ_Hessian
Plugins>Feature Extraction>FeatureJ, "FeatureJ Laplacian", FJ_Laplacian
Plugins>Feature Extraction>FeatureJ, "FeatureJ Options", FJ_Options
Plugins>Feature Extraction>FeatureJ, "FeatureJ Panel", FJ_Panel
Plugins>Feature Extraction>FeatureJ, "FeatureJ Statistics", FJ_Statistics
Plugins>Feature Extraction>FeatureJ, "FeatureJ Structure", FJ_Structure
Help>About Plugins, "FeatureJ...", FJ_Website
