Plugins>Stitching, "2D Stitching", Stitching_2D
Plugins>Stitching, "3D Stitching", Stitching_3D
Plugins>Stitching, "Stitch Grid of Images", Stitch_Image_Grid
Plugins>Stitching, "Stitch Sequence of Grids of Images", Stitch_Image_Grid_Sequence
Plugins>Stitching, "Stitch Collection of Images", Stitch_Image_Collection
Plugins>Stitching, "Stitch Directory with Images (unknown configuration)", Stitch_Image_Directory