Plugins>TransformJ, "TransformJ Affine", TJ_Affine
Plugins>TransformJ, "TransformJ Crop", TJ_Crop
Plugins>TransformJ, "TransformJ Embed", TJ_Embed
Plugins>TransformJ, "TransformJ Matrix", TJ_Matrix
Plugins>TransformJ, "TransformJ Mirror", TJ_Mirror
Plugins>TransformJ, "TransformJ Options", TJ_Options
Plugins>TransformJ, "TransformJ Panel", TJ_Panel
Plugins>TransformJ, "TransformJ Rotate", TJ_Rotate
Plugins>TransformJ, "TransformJ Scale", TJ_Scale
Plugins>TransformJ, "TransformJ Translate", TJ_Translate
Plugins>TransformJ, "TransformJ Turn", TJ_Turn
Help>About Plugins, "TransformJ...", TJ_Website
