# Name: Threshold_Colour
# Two colour thresholding plugin for ImageJ.
# Author: Original BandPass2 by Bob Dougherty modified to support various colour spaces by Gabriel Landini,
# includes some code from ThresholdAdjuster by Wayne Rasband.
#
# Version: 1.8
# Date: 2/Jan/2007
# Requires: ImageJ 1.37k
# Generate the jar file using: "jar cvfM Threshold_Colour.jar Threshold_Colour*"
Image>Adjust, "Threshold Colour", Threshold_Colour
Image>Color, "RGBtoLab ", RGBtoLab_
Image>Color, "RGBtoYUV ", RGBtoYUV_
