# Name: Embryo_Tracker                                                                              
#                                                                                                   
# Tool for tracking the development of "blobs" (e.g. embryo nuclei) over time.                      

Plugins, "Embryo Tracker", fiji.plugin.nperry.Embryo_Tracker
