# A collection of single-shot plugins for fiji

Image>Drawing, "Radial Gradient", fiji.drawing.Radial_Gradient
Image>Drawing, "Linear Gradient", fiji.drawing.Linear_Gradient
Image>Selection, "Make rectangular selection rounded", fiji.selection.Rounded_Rectangle

# Radial_Reslice
Image>Stacks, "Radial Reslice", fiji.stacks.Radial_Reslice

# Dynamic_Reslice, implement Reslice command, but auto-update when ROI is moved   
Image>Stacks, "Dynamic Reslice", fiji.stacks.Dynamic_Reslice

Image>Adjust, "Auto Crop", fiji.selection.Select_Bounding_Box("autocrop")
Image>Adjust, "Auto Crop (guess background color)", fiji.selection.Select_Bounding_Box("autoautocrop")

Edit>Selection, "Fit Circle to Image", fiji.util.Circle_Fitter
Edit>Selection, "Select Bounding Box", fiji.selection.Select_Bounding_Box

Plugins>Utilities, "Repeat a Recent Command", fiji.util.Recent_Commands

Plugins>Process, "Exact Euclidean Distance Transform (3D)", fiji.process3d.EDT
Plugins>Process, "Exact Signed Euclidean Distance Transform (3D)", fiji.process3d.SEDT

Help, "Upload Sample Image", fiji.util.Fiji_Uploader
Help, "Help on Menu Item", fiji.help.Context_Help

Image>Color, "Retinex", Retinex_

Analyze, "Shape Index Map", fiji.geom.Shape_Index_Map
