# Name: bUnwarpJ_

# Consistent and elastic pairwise image registration

# Author: Ignacio Arganda-Carreras <ignacio.arganda@gmail.com>
# Version: 2.6
# Date: 2009/11/02
# Requires: ImageJ

Plugins>Registration, "bUnwarpJ", bunwarpj.bUnwarpJ_
Help>About Plugins, "About bUnwarpJ...", bunwarpj.Credits
