# Name: Color Inspector 3D


# Description:
#  This plugin shows distributions of colors within a 3D-space.

# Author: Kai Uwe Barthel (k.barthel at fhtw-berlin.de)
# Version: 2.0
# Date: 2005/09/10

# Generate the jar file using: "jar cvfM CI_3D.jar *"

Analyze>, "Color Inspector 3D", Color_Inspector_3D
