# Name: Gray morphology
# This plugin performs granulometric filtering of digital images
# the algorithm is described in Prodanov et al. J. Neurosci. Methods 2005
# doi:10.1016/j.jneumeth.2005.07.011 
# more information at www.neuromorf.com

# Author: Dimiter Prodanov (<dimiterpp at gmail.com>)
# Version:  2.3   
# Date: 2006/05/06
# Requires: ImageJ 1.31s

Process>Morphology, "Gray Morphology", GrayMorphology_
Help>About Plugins, "Gray Morphology...", GrayMorphology_("about")

