#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  1.2.4
# Date:     20050126
# Requires: ImageJ 1.31s

File>Save As, "PNG ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("PNG")
File>Save As, "PNM ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("PNM")
File>Save As, "Compressed TIFF ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("TIFF")
File>Import, "Open [Image IO]", net.sf.ij.plugin.ImageIOOpenPlugin("simple")
File>Import, "Open with preview ...", net.sf.ij.plugin.ImageIOOpenPlugin("preview")
# Plugins>Image IO, "Save as ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("")
# Plugins>Image IO, "Remove obsolete JAI Image IO plugins ...", net.sf.ij.plugin.RemoveOldPlugins("")
Help>About Plugins, "Image IO ...", net.sf.ij.plugin.AboutImageIO("")
