# Name: FIJI_Menu_Extensions

# A subset of the collection of FIJI plugins
# which get inserted directly into the menus.

# Version: 0.1
# Date: 2008/02/05
# Requires: ImageJ 1.39p


# File: TrakEM2_.jar
File>New, "TrakEM2 (blank)", ini.trakem2.New_Project("blank")
File>New, "TrakEM2 (from template)", ini.trakem2.New_Project
File>Import "Amira as TrakEM2...", ini.trakem2.utils.New_Project("amira")
Help>About Plugins, "About TrakEM2...", ini.trakem2.utils.Utils

# File: ImageJ_3D_Viewer.jar
# Suggestions:
# - rename to: 3D Editor 	(problem: would break some macros)
# - cut into 2: 3D Texture Editor and 3D Mesh Editor
Plugins>3D> "ImageJ 3D Viewer", ImageJ_3D_Viewer

# File: Volume_Viewer.jar
# Suggestions:
# - rename to: Reslicer 	(problem: would break some macros)
Plugins>3D> "Volume Viewer", Volume_Viewer

# File: AmiraMesh_.jar
# The Amira opener is already integrated through HandleExtraFileTypes
# Suggestions:
# - if it was open from an .am file, then save it as such.
# - if this is just any stack, save it as an .am file if possible.
File>Save As, "Amira...", AmiraMeshWriter_

# File: Interactive_3D_Surface_Plot.jar
# Requires: hacking ImageJA to accept any menu as a target.
Analyze>Tools, "3D Surface plot", Interactive_3D_Surface_Plot

# File: Color_Inspector_3D.jar
Analyze>Tools, "3D Color Inspector", Color_Inspector_3D

# File: CLI_.jar
Plugins>Macros, "Macro Intepreter", CLI

# File: Jython_Interpreter.java
Plugins>Jython, "Interpreter", Jython_Interpreter

# File: ij-ImageIO_.jar
# Requires: editing File menus somehow, so "Open with preview ..." shows under "Open Recent"
File, "Open with preview ...", net.sf.ij.plugin.ImageIOOpenPlugin("preview")
File>Save As, "PNG ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("PNG")
File>Save As, "PNM ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("PNM")
File>Save As, "Compressed TIFF ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("TIFF")
Plugins>Image IO, "Open ...", net.sf.ij.plugin.ImageIOOpenPlugin("simple")
Plugins>Image IO, "Save as ...", net.sf.ij.plugin.ImageIOSaveAsPlugin("")
Plugins>Image IO, "Remove obsolete JAI Image IO plugins ...", net.sf.ij.plugin.RemoveOldPlugins("")
Help>About Plugins, "Image IO ...", net.sf.ij.plugin.AboutImageIO("")

# File: Image_5D.jar
# Leave as is

# File: loci_tools.jar
# Think a bit about it. Menu entries don't match completely with their parent menus.
Image>HyperStacks, "4D Data Browser", loci.plugins.LociImporter("location=[Local machine] group=true view=[4D Data Browser]")
File>Import, "Bio-Formats Importer", loci.plugins.LociImporter("location=[Local machine]")
File>Save As, "Bio-Formats Exporter", loci.plugins.LociExporter("")
File>Import, "Bio-Formats Remote Importer", loci.plugins.LociImporter("location=[Internet]")
File>Import, "Download from OME", loci.plugins.LociImporter("location=[OME server]")
File>Save As, "Upload to OME", loci.plugins.LociUploader("")
Help>About Plugins, "LOCI Plugins...", loci.plugins.LociImporter("about")

# File: LSM_Toolbox.jar
# I hate this 'show toolbox, we'll do it all from there ignoring you'
Plugins>Input-Output, "Show LSMToolbox", LSM_Toolbox("")
Help>About Plugins, "LSMToolbox...", LSM_Toolbox("about")

# File: TransformJ_.jar
# Leave as is

# File: M_I_P.jar
# Leave as is

# File: Scrollable_Stackwindow.jar
# Remove, scrolling stacks with the mouse wheel is already in core ImageJA

