# Name: Object_Counter3D
 
# counts objects in a 3D stack by using a dumb threshold on the slices then connecting components of
# consecutive slices that are the same object, and makes results. 


# this is the v2.0 plugin from the original developer Fabrice.Cordelieres@curie.u-psud.fr taken from Mac BioPhotonics collection. 
Analyze, "3D objects counter", _3D_objects_counter
Analyze, "3D OC Options", _3D_OC_Options
