# Name: Siox_Segmentation

# Simple Interactive Object Extraction

# Author: Ignacio Arganda-Carreras <iarganda@mit.edu>
# Version: 1.0
# Date: 2010/02/10

Plugins>Segmentation>SIOX: Simple Interactive Object Extraction,"Segment image", siox.Siox_Segmentation
Plugins>Segmentation>SIOX: Simple Interactive Object Extraction,"Apply saved segmentator", siox.Load_Segmentation