# Name: Siox_Segmentation

# Simple Interactive Object Extraction

# Author: Ignacio Arganda-Carreras <iarganda@mit.edu>
# Version: 1.0
# Date: 2010/03/23

Plugins>Segmentation, "SIOX: Simple Interactive Object Extraction", siox.Siox_Segmentation
Plugins>Segmentation, "Apply saved SIOX segmentator", siox.Load_Segmentation