# Taken from MacBiophotoinics distribution
Image>Stacks, "Binner", Binner_
Image>Stacks, "Concatenate", Concatenate_
Image>Stacks, "Concatenator", Concatenator_
Image>Stacks, "Slice Remover", Slice_Remover
Image>Stacks, "Stack Builder", Stack_Builder
Image>Stacks, "Stack Building by Name", Stack_Building_by_Name
Image>Stacks, "Stack Combiner", Stack_Combiner
Image>Stacks, "Stack Inserter", Stack_Inserter
Image>Stacks, "Stack Maker", Stack_Maker
Image>Stacks, "Stack Sorter", Stack_Sorter
Image>Stacks, "Stack Spliter", Stack_Splitter
Image>Stacks, "Substack Maker", Substack_Maker




