# Taken from MacBiophotoinics distribution
Image>Stacks, "Concatenate", Concatenate_
Image>Stacks, "Slice Remover", Slice_Remover
Image>Stacks, "Stack Combiner", Stack_Combiner
Image>Stacks, "Stack Inserter", Stack_Inserter
Image>Stacks, "Stack Maker", Stack_Maker
Image>Stacks, "Stack Reverser", Stack_Reverser
Image>Stacks, "Stack Sorter", Stack_Sorter
Image>Stacks, "Stack Spliter", Stack_Splitter
Image>Stacks, "Substack Maker", Substack_Maker

