# Name: TrakEM2_

# Morphological data mining and 3D modeling
# Institute of Neuroinformatics, University of Zurich/ ETH, Zurich, Switzerland

# Author: Albert Cardona and Rodney Douglas
# Version: 2 0.5n
# Date: 2008/03/07
# Requires: ImageJ 1.38v

File>New, "TrakEM2 (blank)", ini.trakem2.New_Project("blank")
File>New, "TrakEM2 (from template)", ini.trakem2.New_Project
File>Import, "TrakEM2 XML...", ini.trakem2.Open_Project
File>Import, "Amira as TrakEM2...", ini.trakem2.New_Project("amira")
Help>About Plugins, "About TrakEM2...", ini.trakem2.utils.Utils

# Lens distortion correction using SIFT

Plugins>Transform, "Distortion Correction", lenscorrection.Distortion_Correction
