Plugins>Transform, "TJ Affine", TJ_Affine
Plugins>Transform, "TJ Crop", TJ_Crop
Plugins>Transform, "TJ Embed", TJ_Embed
Plugins>Transform, "TJ Mirror", TJ_Mirror
Plugins>Transform, "TJ Options", TJ_Options
Plugins>Transform, "TJ Panel", TJ_Panel
Plugins>Transform, "TJ Rotate", TJ_Rotate
Plugins>Transform, "TJ Scale", TJ_Scale
Plugins>Transform, "TJ Shift", TJ_Shift
Plugins>Transform, "TJ Turn", TJ_Turn
