# Name: ToAST

# TOol for Automatic Sporozoites Tracking

# Author: Misha Kudryashev (misha.kudryashev@gmail.com)
# Version: 25
# Date: 2009/03/29
# Requires: ImageJ

File>Open Samples, "Malaria Sporozoites (9.2MB)", ij.plugin.URLOpener("http://pacific.mpi-cbg.de/samples/_malaria_parasites.tif")
Plugins>Tracking, "ToAST", ToAST25_
