# A flexible and accessible alternative to the ImageJ toolbar
#
# Author: Jerôme Mutterer

Plugins>ActionBar, "Action Bar", Action_Bar

Plugins>ActionBar, " AnimationBar", Action_Bar("ActionBar/_AnimationBar.txt")
Plugins>ActionBar, " Demo", Action_Bar("ActionBar/_Demo.txt")
Plugins>ActionBar, " Magic Montage2", Action_Bar("ActionBar/_Magic_Montage2.txt")
Plugins>ActionBar, " StickyBarDemo1", Action_Bar("ActionBar/_StickyBarDemo1.txt")
Plugins>ActionBar, " StickyBarDemo2", Action_Bar("ActionBar/_StickyBarDemo2.txt")
Plugins>ActionBar, " ZoomBar", Action_Bar("ActionBar/_ZoomBar.txt")
Plugins>ActionBar, " lookuptables", Action_Bar("ActionBar/_lookuptables.txt")
Plugins>ActionBar, "codeBar ", Action_Bar("ActionBar/codeBar_.txt")
Plugins>ActionBar, "color and merge", Action_Bar("ActionBar/color_and_merge.txt")
Plugins>ActionBar, "color mixer", Action_Bar("ActionBar/color_mixer.txt")
Plugins>ActionBar, "createAB", Action_Bar("ActionBar/createAB.txt")
Plugins>ActionBar, "demo counter", Action_Bar("ActionBar/demo_counter.txt")
Plugins>ActionBar, "design action_bar", Action_Bar("ActionBar/design_action_bar.txt")
Plugins>ActionBar, "ez counters", Action_Bar("ActionBar/ez_counters.txt")
Plugins>ActionBar, "rotation bar", Action_Bar("ActionBar/rotation_bar.txt")
